Repository SamuraSwordS/Competition-TELE2, pull requests merged in 2019-04, with the labels that each got.

#7 Загрузка в проект классов model
  app/build.gradle
  app/libs/validation-api-2.0.1.Final.jar
  app/src/main/java/com/example/splashapp/Activism.java
  app/src/main/java/com/example/splashapp/Calendar.java
  app/src/main/java/com/example/splashapp/Citizen.java
  app/src/main/java/com/example/splashapp/Event.java
  app/src/main/java/com/example/splashapp/Identified.java
  app/src/main/java/com/example/splashapp/Need.java
  app/src/main/java/com/example/splashapp/Organization.java
  app/src/main/java/com/example/splashapp/Post.java
  app/src/main/java/com/example/splashapp/PostsRequest.java
  app/src/main/java/com/example/splashapp/User.java
  app/src/main/java/com/example/splashapp/UserCredential.java
  build.gradle
Labels: Citizen, Model, Organization

#14 Создан controller для Citizen
  .idea/misc.xml
  app/build.gradle
  app/src/main/java/com/example/splashapp/C_Citizen.java
  app/src/main/java/com/example/splashapp/ControllerUser.java
Labels: Citizen, Controller

#15 Создан controller для Organization
  app/src/main/java/com/example/splashapp/C_Organization.java
Labels: Controller, Organization

#21 Создан controller для Need
  app/src/main/java/com/example/splashapp/C_Needs.java
  app/src/main/java/com/example/splashapp/ControllerPost.java
Labels: Controller, Need

#22 Создан controller для Activism
  app/src/main/java/com/example/splashapp/C_Activitisms.java
Labels: Activism, Controller

#23 Создан controller для Event
  app/src/main/java/com/example/splashapp/C_Events.java
Labels: Controller, Event
